{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<style>
    .fadeoverlay {
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        
    }

    .fadeoverlay:hover .overlay {
        opacity: 1;
    }

    .img-responsive {
        display: block;
        width: 100%;
        height: auto;
    }

    footer{
        background-color:black;
    }

.btn{
    background-color: black;
    border-radius: 45px;
    color:white;
    width:-100px;
}  

#welcome_text{
    margin-top: 10%;
}
</style>
<div id="home" style=" background-image: url(/static/img/bg2.jpg);text-align: center;background-repeat: no-repeat;background-size: cover;height: 80vh;">
    <div class="intro col-md-12 text-center">
        <h2 id="welcome_text">This is awwwards</h2>
        
    </div>
   

    <div id="overlay" class="row">
        
        <div class="intro col-md-12 text-center">
            
            <a href="{% url 'post_prj' %}"> <input type="button" class="btn " value="Post Project"></a>
           
            
        </div>
    </div>
</div>
<div class="container">

    <h1 class='text-center' style="font-style: italic;">Projects</h1>
    <div class="container" style="margin-bottom: 10%;">
        <hr />
        {% for project in projects%}
        <div class="col-lg-4">
            <div
                style="background-color: rgb(250, 246, 246);box-sizing: border-box; margin-top:5%;box-shadow: 0vh 0vh 1vh gainsboro;">
                <div class="fadeoverlay">
                    <a href="{% url 'viewProject' id=project.id %}">
                        <img src="{{project.image.url}}" class="img-responsive" alt="{{image.name}}"
                            style="width:100%;width:100%">
                        <div class="overlay">
                        </div>
                    </a>
                </div>
                <div class="row" style="padding-top: 5%">
                    <div class="col-md-12">
                        <p><a href="{{project.url}}" class="text-right" style="text-decoration: none;">
                                {{project.title}} <img
                                    src="https://img.icons8.com/color/48/000000/circled-up-right--v1.png"
                                    style="width:15px;height:auto" />
                            </a></p>
                    </div>
                </div>
                <div class="row" style="padding-bottom: 5% ;font-size:10pt; color: palevioletred;">
                    <div class="col-md-6" style="padding-bottom: 5%"> By: {{project.user.username}}</div>
                    <div class="col-md-6">{{project.date|date:"M d, Y" }} </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<footer class="text-center text-white fixed-bottom" style="background-color: #black;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright
      
    </div>
    <!-- Copyright -->
  </footer>
{% endblock %}